.user-entries{
  margin-top: 20vh; 
  padding: 50px;
  background-color: #cae3f7;
 border-radius: 10px;
 box-shadow: 5px 5px 5px #878889;
}

.table-cell {
  padding: 4px 12px ;
  text-align: right;
}

label{
  font-weight: bold;
}



